@import "./scss/colors";
@import "./scss/widgets/control-center/audio-devices";
@import "./scss/widgets/control-center/network-menu";
@import "./scss/widgets/control-center/session-menu";

.control-center {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;

  .control-center-content {
    @include background-opacity(
      get-value("bg-layer-1"),
      get-value("bg-opacity")
    );
    padding: 1rem;
    border: 1px solid get-value("accent-3");
    border-radius: 9px;
  }

  .widget {
    @include background-opacity(
      get-value("bg-layer-3"),
      get-value("bg-opacity")
    );
    padding: 0.5rem;
    border-radius: 9px;
  }
}
