@import "./scss/colors";

.system-tray {
  menubar {
    menuitem {
      margin: 0 0.5rem;

      menu {
        @include background-opacity(get-value("bg-layer-1"), get-value("bg-opacity"));
        border-radius: 9px;

        menuitem {
          padding: 9px;
          border-radius: 9px;

          &:hover {
            @include background-opacity(get-value("bg-layer-2"), get-value("bg-opacity"));
          }
        }
      }
    }
  }
}
