@import "./scss/colors";

.widget-workspaces {
  .workspaces-entry {
    .workspaces-entry-box {
      font-size: 1.5rem;
      min-width: 1.75rem;
      margin: 0.313rem 0;
      border-radius: 6px;
      border: 1px solid transparent;
      transition: background-color 0.2s ease;
      transition: border-color 0.2s ease;
    }

    &:hover {
      .workspaces-entry-box {
        @include background-opacity(shade(get-value("text"), 50%), 0.2);
        border: 1px solid transparentize(get-value("text"), 0.9);
      }
    }

    .workspaces-entry-indicator {
      border-radius: 6px;
      border: 1px solid transparent;
      margin-top: 2rem;
      margin-bottom: 0.435rem;
      margin-left: 1rem;
      margin-right: 1rem;
      transition: all 0.2s ease; /* FIXME: transition does not work */

      &.occupied {
        margin-left: 12px;
        margin-right: 12px;
        background-color: shade(get-value("text"), 15%);
      }

      &.active {
        margin-left: 7px;
        margin-right: 7px;
        background-color: get-value("accent-6");
      }
    }
  }
}
