.volume-menu {
  .volume-icon {
    border-radius: 5px;
    transition: background-color 0.2s ease;
    padding: 0.5rem 0.5rem;
    min-width: 1.25rem;

    &:hover {
      @include background-opacity(
        get-value("bg-layer-4"),
        get-value("bg-opacity")
      );
    }
  }

  .volume-menu-button {
    border-radius: 5px;
    transition: background-color 0.2s ease;

    &:hover {
      @include background-opacity(
        get-value("bg-layer-4"),
        get-value("bg-opacity")
      );
    }

    .volume-menu-expand-icon {
      padding: 0 0.6rem;
      font-size: 1.875rem;
    }
  }

  .volume-slider {
    trough {
      background-color: get-value("bg-layer-4");
      border-radius: 50px;
      min-height: 0.5rem;

      highlight {
        background-color: get-value("accent-5");
        border-radius: 9px;
      }
    }
  }

  .audio-device-menu {
    .audio-device-menu-devices {
      border-top: 1px solid get-value("bg-layer-4");
      border-bottom: 1px solid get-value("bg-layer-4");
      padding: 0.25rem 0;
      margin: 0.25rem 0;

      .audio-device-menu-item {
        border-radius: 9px;
        transition: background-color 0.2s ease;

        &:hover {
          @include background-opacity(
            get-value("bg-layer-4"),
            get-value("bg-opacity")
          );
        }

        label {
          padding: 0.5rem;
        }
      }
    }

    .audio-settings-button {
      border-radius: 9px;
      transition: background-color 0.2s ease;

      &:hover {
        @include background-opacity(
          get-value("bg-layer-4"),
          get-value("bg-opacity")
        );
      }

      label {
        padding: 0.5rem;
      }
    }
  }
}
