$catppuccin-mocha: (
  "bg-layer-1": #1e1e2e,
  "bg-layer-2": #181825,
  "bg-layer-3": #1e1e2e,
  "bg-layer-4": #313244,
  "bg-layer-5": #45475a,
  "text": #cdd6f4,
  "muted": #7f849c,
  "accent-1": #f38ba8,
  "accent-2": #fab387,
  "accent-3": #89dceb,
  "accent-4": #a6e3a1,
  "accent-5": #89b4fa,
  "accent-6": #b4befe,
  "bg-opacity": 1
);
