.calendar-timezones {
  @include background-opacity(get-value("bg-layer-1"), get-value("bg-opacity"));
  padding: 1rem;
  border-radius: 9px;

  .calendar-toggle-button {
    border-radius: 5px;
    transition: border 0.2s ease;
    @include background-opacity(
      get-value("bg-layer-4"),
      get-value("bg-opacity")
    );

    &:hover {
      border: 1px solid get-value("accent-5");
    }

    .icon {
      padding: 0 0.6rem;
      font-size: 1.875rem;
    }
  }

  .calendar-time {
    .calendar-time-label {
      font-size: 1.4rem;
    }
  }
}
